* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

body {
  font-family: "Alata", sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
}

header {
  background-image: url("/images/desktop/image-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  height: 600px;
}

.mbl-btn {
  display: none;
}

.footer-mbl {
  display: none;
}

.main-box {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: var(--white);
  font-weight: 700;
  font-size: 30px;
}

.navbar-list {
  display: flex;
  gap: 2rem;
}

.shout-box {
  color: var(--white);
  border: 1px solid var(--white);
  padding: 1rem;
  height: 300px;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.shout-box h1 {
  font-size: 60px;
}

.hero-box {
  display: flex;
}

.hero-img {
  display: flex;
  flex-wrap: wrap;
}

.hero-para {
  padding: 2rem;
  background: var(--white);
  z-index: 999;
  position: absolute;
  top: 15rem;
  left: 35rem;
  width: 80%;
  height: 100%;
}

.rela {
  position: relative;
}

.hero-para h1 {
  font-size: 50px;
  margin-bottom: 2rem;
}

.hero-para p {
  color: var(--very-dark-gray);
}

.gallery {
  margin-top: 8rem;
}

.gallery-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.gallery-title {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Add this line to vertically align the button and h1 */
  margin-bottom: 3rem;
}

.gallery-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.img-title {
  position: relative;
}

.title-overlay {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: #ffffff; /* Set the text color for the overlay */
}

.title-overlay h1 {
  width: 112px;
}

.title-overlay .above {
  width: 150px;
}

.gallery-title h1 {
  font-size: 40px;
  margin: 0;
}

.gallery-title button {
  width: 10em;
  padding: 10px 0 30px 0;
  border: none;
  height: 20px;
  font-size: 18px;
  background-color: black;
  color: var(--white);
  font-family: "Josefin Sans", sans-serif;
  transition: 0.5s;
  text-align: center;
}

.gallery-title button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: var(--black);
  background-color: var(--white);
}

footer {
  background-color: var(--black);
}

.logo-footer {
  display: flex;
  justify-content: space-between;
}

.logo-footer h1 {
  color: var(--white);
}

.logo-footer .social {
  display: flex;
  gap: 1rem;
}

.copy-right {
  color: var(--dark-gray);
}

.footer-exit {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.footer-nav {
  display: flex;
  gap: 1rem;
}

.social img {
  cursor: pointer;
}

.social img {
  margin-right: 10px;
  cursor: pointer;
}

.navbar img {
  display: none;
}

@media (max-width: 990px) {
  .shout-box h1 {
    font-size: 45px;
  }

  .hero-para {
    padding: 2rem;
    background: var(--white);
    z-index: 999;
    position: absolute;
    top: 22rem;
    left: 16rem;
    width: 68%;
    height: 66%;
  }
}

@media (max-width: 430px) {
  .gallery-title button {
    display: none;
  }
  .gallery-title h1 {
    font-size: 35px;
    margin: 0;
  }
  .navbar-list {
    display: none;
  }
  .navbar img {
    display: block;
    width: 10%;
    height: 10%;
  }
  .shout-box {
    width: 100%;
  }
  .shout-box h1 {
    font-size: 40px;
  }
  .hero-img img {
    width: 100%;
  }

  .hero-para h1 {
    font-size: 20px;
    margin-bottom: 2rem;
    text-align: center;
  }
  .hero-para {
    padding: 2rem;
    background: var(--white);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 10rem;
    bottom: 0rem;
    width: 100%;
    height: 100%;
  }

  .gallery-box {
    margin-top: 5rem;
  }

  .gallery-title h1 {
    font-size: 30px;
    margin-top: 2rem;
  }

  .img-title img {
    width: 350px;
    height: 200px;
  }

  .img-title {
    height: 100%;
  }

  .mbl-btn {
    display: block;
    width: 10em;
    padding: 10px 0 30px 0;
    border: none;
    height: 20px;
    font-size: 18px;
    background-color: black;
    color: var(--white);
    font-family: "Josefin Sans", sans-serif;
    transition: 0.5s;
    text-align: center;
  }

  .mbl-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: var(--black);
    background-color: var(--white);
  }

  .title-overlay {
    position: absolute;
    top: 73%;
    left: 18%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: #ffffff;
  }
  .footer-mbl {
    display: block;
  }

  .footer {
    display: none;
  }

  .footer-box-mbl{
    font-size: 10px;
    flex-direction: column;
    text-align: center;
    color: var(--white);
    font-size: 20px;
  }

  .footer-box-mbl h1 {
    margin-bottom: 1rem;
  }

  .footer-a-mbl {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .footer-nav-mbl {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

  .footer-exit-mbl .copy-right {
    text-align: center;
    margin-top: 1rem;
  }
}
